<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    
    <%- include('../partials/nav') %>

    <main class="new-main container">
        <h3>Add a new watch</h3>
        <form action="/watches/<%= foundWatch._id %>?_method=put" method="post">
            <div class="field">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required value="<%= foundWatch.name %>">
            </div>
            <div class="field">
                <label for="price">Price</label>
                <input type="number" id="price" name="price" required min="0" value="<%= foundWatch.price %>">
            </div>
            <div class="field">
                <label for="item-No">Item No</label>
                <input type="number" id="item-No" name="itemNo" required min="0" value="<%= foundWatch.itemNo %>">
            </div>
            <div class="field">
                <label for="img">Img</label>
                <input type="url" id="img" name="img" required value="<%= foundWatch.img %>">
            </div>
            <button>Submit</button>
        </form>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>