<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    
    <%- include('../partials/nav') %>

    <main class="show-main container">
        <h3>Watch's Details</h3>
        <div class="watch">
            <div class="left">
                <div class="name"><%= foundWatch.name %></div>
                <div class="price">Price: $<%= foundWatch.price %></div>
                <div class="item-no">Item No: <%= foundWatch.itemNo %></div>
                <div class="buttons">
                    <a href="/watches/<%= foundWatch._id %>/edit">Edit</a>
                    <form action="/watches/<%= foundWatch._id %>?_method=delete" method="post"><button>Delete</button></form>
                </div>
            </div>
            <div class="right">
                <img src="<%= foundWatch.img %>" alt="">
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>